{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body{
        background: grey
    }
   .d-bg {
        background-color: #000;
    }
    .neon {
        color: #fff;
    }
    .neon input[type="text"],
    .neon input[type="password"] {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .neon input[type="text"]:focus,
    .neon input[type="password"]:focus {
        outline: none;
        border-color: #0f0;
        box-shadow: 0 0  5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0;
    }
    .neon button {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }
    .neon button:hover {
        background-color: #0f0;
        border-color: #0f0;
    }
</style>

<div class="row ">
    <div class="col-11 col-md-4 mx-auto mt-5 d-bg p-5">
        <h2 class="text-info">Change password</h2>
        <form method="post" class="neon">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% for error in field.errors %}
                      <div class="text" style="color:red">{{ error }}</div>
                    {% endfor %}
                    {% if field.help_text %}
                      <small class="form-text " style="color:grey">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>


{% endblock %}
