{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content%}
<style>
    body{
        background: grey;
    }
    .d-bg {
        background-color: #000;
    }
    .neon {
        color: white;
    }
    .neon input[type="text"]::placeholder {
        color: #fff;
        opacity: 0.5;
    }
    .neon input[type="text"],
    .neon input[type="email"],
    .neon input[type="password"] {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .neon input[type="text"]:focus,
    .neon input[type="email"]:focus,
    .neon input[type="password"]:focus {
        outline: none;
        border-color: #0f0;
        box-shadow: 0 0  5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0;
    }
    .neon button {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }
    .neon button:hover {
        background-color: #0f0;
        border-color: #0f0;
    }
</style>

{% if messages %}
    <div class="message-box" style="display: block; text-align: center; color: lime; font-size: 20px;">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button onclick="hideMessageBox()" class="btn btn-outline-secondary btn-sm">Hide</button>
    </div>
{% else %}
    <div class="message-box" style="display: none;"></div>
{% endif %}

<script>
    function hideMessageBox() {
        document.querySelector('.message-box').style.display = 'none';
    }
</script>
<div class="row ">
    <div class="col-11 col-md-4 mx-auto mt-5 d-bg p-5">
        <h1 class="text-info">Forgot password</h1>
        <form method="post" class="neon">
            {% csrf_token %}
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" required><br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>

    </div>
</div>
{% endblock content%}