{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}
<style>
    body{
        background: grey;

    }
    .d-bg {
        background-color: #000;
    }
    .neon {
        color: white;

    }
    .neon input[type="text"],
    .neon input[type="password"] {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }
    .neon input[type="text"]:focus,
    .neon input[type="password"]:focus {
        outline: none;
        border-color: #0f0;
        box-shadow: 0 0  5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0;
    }
    .neon button {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 16px;
    }
    .neon button:hover {
        background-color: #0f0;
        border-color: #0f0;
    }
</style>
{% if messages %}
    <div class="message-box" style="display: block; text-align: center; color: red; font-size: 20px;">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button onclick="hideMessageBox()" class="btn btn-outline-primary btn-sm">Hide</button>
    </div>
{% else %}
    <div class="message-box" style="display: none;"></div>
{% endif %}

<script>
    function hideMessageBox() {
        document.querySelector('.message-box').style.display = 'none';
    }
</script>
<a href="{% url 'login' %}" class="btn btn-success my-3 mx-4 ">login</a>
<div class="row ">
    <div class="col-11 col-md-4 mx-auto mt-5 d-bg p-5">
        <h1 class="text-info">Password reset</h1>
        <form method="POST" class="neon">
            {% csrf_token %}
            <label for="new_password">New password:</label><br>
            <input type="password" id="new_password" name="new_password" required><br>
            <label for="confirm_password">Confirm password:</label><br>
            <input type="password" id="confirm_password" name="confirm_password" required><br>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
{% endblock content%}